{% extends 'base.html' %}
{% block title %}Пример{% endblock %}
{% block content %}
   <div class="scroller">
      <div class="wrapper">
         <div class="items items-transitioned" style="transform: translateX(0%) translateX(-8px);">
            <!-- <div class="item" style="min-width: calc(100% + 16px); max-width: calc(100% + 16px); flex-basis: calc(100% + 16px); transform: translateX(0%);">
               <div class="slide">
                  <div tabindex="0" class="focustrap"></div>
                  <div type="sticker" size="250" src="" class="container-sticker media" rotate="false" static="false" style="--sticker-h: 250px; --sticker-w: 250px;">
                     <div type="sticker" size="250" src="" class="sticker">
                        sticker
                     </div>
                  </div>
                  <div class="content" style="text-align: left;">
                     <p class="text-muted">1 / 9</p>
                     <h2 class="">Welcome to Telegram Onboarding Kit</h2>
                     <p class="">Create stunning onboarding and paywall for your Telegram Bot using the full power of Mini Apps<br><br>It's <b>simple</b>, <b>fast</b>, highly <b>customizable</b> and <a href="https://github.com/Easterok/telegram-onboarding-kit" target="_blank">open-source</a>!</p>
                  </div>
               </div>
            </div>
            <div class="item" style="min-width: calc(100% + 16px); max-width: calc(100% + 16px); flex-basis: calc(100% + 16px); transform: translateX(0%);">
               <div class="slide">
                  <div tabindex="0" class="focustrap"></div>
                  <picture type="image" src="" static="false" class="container-img media">
                     <img rotate="false" class="media img" type="image" static="false" src="https://easterok.github.io/telegram-onboarding-kit/assets/durov-77d01c07.webp">
                  </picture>
                  <div class="content content-rounded" style="text-align: left;">
                     <p class="text-muted">2 / 9</p>
                     <h2 class="">Onboarding supports many types of content</h2>
                     <p class="">Here you can see <b>Image</b>. But it's just the beginning...</p>
                  </div>
               </div>
            </div> -->
            <div class="item" style="min-width: calc(100% + 16px); max-width: calc(100% + 16px); flex-basis: calc(100% + 16px); transform: translateX(0%);">
               <div class="slide">
                  <div tabindex="0" class="focustrap"></div>
                  <div class="content" style="text-align: left;">
                     <p class="text-muted">3 / 9</p>
                     <h2>Forms</h2>
                     <form>
                        <div class="control">
                           <label for="exampleInput1" class="input" data-size="m">
                              <div class="input-wrapper">
                                 <input id="exampleInput1" class="native" placeholder="Put text here" type="text" inputmode="text">
                              </div>
                           </label>
                        </div>
                        <div class="control">
                           <label for="exampleInput2" class="input" data-size="m">
                              <div class="input-wrapper">
                                 <input id="exampleInput2" class="native" placeholder="Number input" type="number" inputmode="decimal">
                              </div>
                           </label>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
{% endblock %}